{% extends "/base.html.twig" %}

{% block body %}
    <nav class="navMenu">
      <a href="{{ url('add') }}">Insert</a>
      <a href="{{ url('search') }}">Search</a>
      <div class="dot"></div>
    </nav>
{% endblock %}